.titleBlock {
    /* This is a comment */
    width:80vw;
    /*background:red;*/
    margin-left: 10vw;
    line-height: 1px;
    margin-top:50px;
}

h1, h2 {
    color:rgb(255, 0, 0);
}

h2 {
    font-size: 20px;
}

.canvas{
    height:80vh;
    width:80vw;
    background:rgb(229, 255, 0);
    margin-left:10vw;
}
.frame2{
    height:50%;
    width:50%;
    background:rgb(0, 195, 255);
    margin-left:10vw;

}