*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.2)),url(/redcentre.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 300px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #ec4c4c ;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ec4c4c;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li :hover::after{
    width: 100%;
}

.text-box1{
    color: #fff;
    text-decoration: none;
    font-size: 20px;

}
.text-box2{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 30px;
}
.text-box3{
    width: 90%;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 150%;
}
.arrowbutton{
    width: 2%;
}

#slideshow-container {
        max-width: 100%;
        position: relative; 
        margin: 0px auto; // center
        text-align: center;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(71, 71, 71);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  #arrowbutton2{
    width: 2%;
    transform: translatex(50vw);
  }

  .text-box4{
    width: 90%;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 150%;
}

.myTable { 
    width: 100%;
    text-align: left;
    background-color: rgb(252, 237, 237);
    border-collapse: collapse; 
    color: #ec4c4c
    }
  .myTable th { 
    background-color: #ee7575;
    color: white; 
    }
  .myTable td, 
  .myTable th { 
    padding: 10px;
    border: 1px solid #ec4c4c; 
    }

.htmltabletitle{
    text-align: center;
    color: #ec4c4c;
}
